@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    --main-color: #ffffff;
    --accent-color: #e5b337;
    --background-color: #242424;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: auto;
    font-size: 17px;
    color: var(--main-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    border-bottom: 1px solid var(--main-color);
    background-color: var(--background-color);
}

#header-img {
    width: 12vw;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 1vh 2vw;
    color: var(--main-color);
}

a:hover {
    background-color: var(--accent-color);
}

.banner {
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 0;
    right: 0;
    background: url('https://res2.weblium.site/res/5c8f7be87d82be00257c7030/5ce52ec806ee3a0024195a18_optimized');
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 62px;
    padding: 20vh 10vw 1vh;
    font-weight: 700;
    font-style: italic;
}

p {
    padding-left: 10vw;
}

.about {
    background-image: url('https://res2.weblium.site/res/5c8f7be87d82be00257c7030/5ce54209757e790023a7d6f1_optimized_1920.webp');
    background-color: var(--background-color);
    position: absolute;
    background-size: cover;
    height: 100vh;
    top: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10vw;
    padding-top: 15vh;
}

.about>p {
    width: 50%;
    text-align: justify;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 210vh;
    left: 25vw;
}

#video {
    width: 50vw;
    height: 50vh;
    border: 0;
}

h2 {
    color: var(--accent-color);
    font-size: 42px;
}

.form {
    background: url('https://res2.weblium.site/res/5c8f7be87d82be00257c7030/5ce6905744ded2002396b850_optimized_1920.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    justify-content: end;
    padding: 15vh 25vw;
    width: 100vw;
    height: 70vh;
    z-index: 1;
    top: 300vh;
}


form {
    background-color: var(--main-color);
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 2px solid var(--accent-color);
    border-radius: 5%;
}

input {
    margin: 20px;
    padding: 10px;
}

#submit {
    background-color: var(--accent-color);
    cursor: pointer;
}

h3 {
    font-size: 30px;
    color: var(--background-color);
}

footer {
    position: absolute;
    top: 370vh;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    header {
        flex-direction: column;
    }

    h1 {
        padding: 30vh 5vw 1vh;
        font-size: 28px;
    }

    h2 {
        font-size: 16px;
    }

    .about {
        background-image: none;
    }

    .about>p {
        width: 80%;
    }

    h3 {
        font-size: 14px;
    }

    .form {
        justify-content: center;
        padding: 10vh 10vw;

    }

    form {
        width: 80vw;
        padding: 10px;
        border: 1px solid var(--accent-color);
    }

    input {
        margin: 10px;
        padding: 3px;
    }

}